body{
    background-image: utl("back.jpg");
    background-size: cover;
    background-color: #284ac3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    
}
header{
    text-align:center;
    background-color: #284ac3;
}
h2{
    color: #fff200;
    text-align: center;
}
blockquote{
    color: red;
}
nav{
    display:block;
    border:5px solid #ff0000;
    background-color: #284ac3;
}
ul{
    list-style: none;
    display: block;
    text-align:center;
  
}
li{
    display:inline-block;
    padding: 10px;

}
img{
    max-width: 100px;
    border: 10px solid red;
    border-radius: 75%;
    position:relative
    
}
img.porfolio{
    border: 10px solid red;
    width: 100px;
   
}


footer{
    text-align: center;
    color:red;

}
a{
    color: red;

}