
body{
    border: solid 10px #fbff03;
    background-image: utl("back.jpg");
    background-size: cover;
    background-color: #0000ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;

    
}
header{
    text-align:center;
    background-color: #0000ff;
    padding: 3px;
}
h2{
    color: #fbff03;
    text-align: center;
}
blockquote{
    color: red;
}
nav{
    display:block;
    border: #fbff03 solid ;
    background-color: #0000ff;
}
ul{
    list-style: none;
    display: block;
    text-align:center;
  
}
li{
    display:inline-block;
    padding: 20px;
    margin: 10px;
    border: solid #fbff03;
    background-color: #00000;

}

img{
    max-width: 100px;
    border: 10px solid #fbff03;
    border-radius: 50%;
    position:relative;
    
    
}


footer{
    text-align: center;
    border: solid 5px #fbff03;

}
a{
    color: #fbff03;

}